@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  height: 0.4px;
  background-color: hsl(229, 8%, 60%);
  border: none;
  width: 100%;
}

.tab.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 4px;
  width: 210px;
  background-color: hsl(0, 94%, 66%);
  position: absolute;
  bottom: 0.5px;
  left: 0;
  right: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 360px) {
  .hero-buttons {
    flex-wrap: wrap;
  }
}
